.logoGrid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logoGrid-cell {
    flex: 0 0 calc(33.33% - 10px);
    text-align: center;
}
.logoGrid-cell a {
    display: inline-block;
    text-decoration: none;
}
.logoGrid-cell img {
    max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin: 0;
    padding: 0;
}
